ignore-scripts=true
# vite-plus preview build registry bridge (auto-added by vp)
registry=https://registry-bridge.viteplus.dev/
min-release-age=1
min-release-age-exclude=vite-plus,@voidzero-dev/*,@oxc-project/*,@oxlint/*,@oxfmt/*,@oxlint-tsgolint/*,oxlint,oxfmt,oxlint-tsgolint
